* {
  box-sizing: border-box;
}

body {
    margin: 0;
    
    background-color: rgb(241, 215, 145);
  
  }

  .container {
    margin: 1rem;
    text-align: center;
  }

  .title {
    font-size: 2rem;
  }

  .nav {
    background-color: rgb(165, 163, 161);
    color:blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    
  }

  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  nav a {
    color: rgb(53, 51, 51);
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav li:active {
  color: red;
  background-color: transparent;
}

nav li:hover {
  color: blue;
  transition-delay: .5s;
  background-color: transparent;
  opacity: 0.7;
  transition: all 0.25s ease-in;
  
}

  .header h1 {
    text-align: center;
  }

  .about-img {
    /* padding: 100px; */
    /* padding-left: 1000px; */
    /* clip-path: circle(50.0% at 50% 50%); */
    width: 350px;
    align-items: center;
    border-radius: 10px;
    
}

p {
    text-align: center;
    /* padding: 100px; */
    /* margin: 100px; */
    

}

.card-container {
  margin: 0;
  padding:0%;
  
  justify-content: space-around;
        
       
        

        
        
       
}

.card {
 
  
  
  
  
  
  
  
  
  
    
  
  

}


  

  


  